<!-- Action Menu Section-->
<mat-card class="action-container">

  <!-- Card Header -->
  <mat-card-header>
    <mat-card-title>
      <h1>Action Menu</h1>
    </mat-card-title>
  </mat-card-header>

  <!-- Action Buttons -->
  <mat-card-actions>
    <button mat-button color="primary">Fetch Case List</button>
    <button mat-button color="primary" (click)="getAllSuspects()">Fetch Suspect List</button>
    <button mat-button color="primary">Fetch User List</button>
  </mat-card-actions>
  
</mat-card>

<!-- Table Section -->
<div class="table-container mat-elevation-z8">
  
  <!-- Filtering Input -->
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>  
  </div>

  <!-- Table -->
  <mat-table #table [dataSource]="dataSource" matSort>
  
    <!-- Columns -->

    <!-- Number Column -->
    <ng-container matColumnDef="numero">
      <mat-header-cell 
        *matHeaderCellDef
        mat-sort-header > No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <mat-header-cell 
        *matHeaderCellDef
        mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="prenom">
      <mat-header-cell 
        *matHeaderCellDef
        mat-sort-header> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
    </ng-container>


    <!-- Rows -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Paginator -->
  <mat-paginator #paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 20]"
                  [showFirstLastButtons]="true">
  </mat-paginator>

</div>
