:host {
  position: fixed;
  bottom: 200px;
  width: 100%;
}
/* Menu Toggle Button */
.onOff {
  position: fixed;
  right: 50px;
  bottom: 113px  ;
}


mat-card {
  background: #FEFEFE;
  margin: 0 auto;
  width: 80%;
}

/* Sidenav */
mat-sidenav {
  width:60%;
  overflow-y: visible;
}
mat-sidenav-container {
  overflow-y: visible;
  height: 50px;
}
.mat-drawer-container {
  overflow: visible;
}
mat-sidenav-content {
  overflow:hidden;
}
