<mat-toolbar 
    *ngIf="barConfig.isVisible"
    color="primary">
    <mat-card>
      <div class="wrapper">
    <mat-sidenav-container >
      <!-- Sidenav -->
      <mat-sidenav 
        #menuSidebar
        mode="side">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <h1>Http Calls</h1>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
              <button mat-button color="primary" (click)="httpCall(this.url.SPRING_URL)">Test Http Call</button>
              <button mat-button color="primary" (click)="httpCall(this.url.ERROR_URL)">Error Http Call</button>
          </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <h1>TEST2</h1>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <p>dhjskadnkjsdnakjdnaskjdn</p>
            <p>dhjskadnkjsdnakjdnaskjdn</p>
          </ng-template>
        </mat-expansion-panel>
      </mat-sidenav>
      <!-- Sidenav Content -->
      <mat-sidenav-content 
        fxLayout="row"
        fxLayoutAlign="space-between center">
          <!-- Navigation buttons -->
          <div class="Buttons">
            <button mat-icon-button (click)="menuSidebar.toggle()">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="navigate('login')">Login Page</button>
            <button mat-raised-button color="primary" (click)="navigate('main')">Main Page</button>
            <button mat-raised-button color="accent" (click)="generateToken()">Generate Random Jwt</button>
            <button mat-raised-button color="warn" (click)="deleteToken()">Delete Random Jwt</button>
          </div>  
          <mat-slide-toggle
            color="primary"
            [checked]="auth.isLoggedIn()"
            (change)="toggleAuthentication()">Authenticated</mat-slide-toggle>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    </mat-card>
  </mat-toolbar>

  <!-- Button show/hide the menuBar -->
  <button
  class="onOff"
    #toggleButton 
    mat-mini-fab
    color="accent"
    (click)="toggleVisibility()">
    <mat-icon>menu</mat-icon>
  </button>


  