<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
  
  <!-- Username Field -->
  <mat-form-field>
      <input 
      matInput
      ngModel
      type="text" 
      name="username" 
      placeholder="Username"> 
  </mat-form-field>

  <br/>

  <!-- Password Field -->
  <mat-form-field>
    <input 
      matInput
      ngModel 
      type="password"
      name="password" 
      placeholder="Password"> 
    </mat-form-field>

    <!-- Action Buttons -->
    <a routerLink="pass">I forgot my password!</a>
  <button type="submit" mat-button color="primary">Login</button>
</form>

<!-- Test Purpose -->
<h2>Input sent:</h2>
{{loginForm.value | json}}
