mat-card {
  width: 90%;
  margin: 50px auto;

  display: flex;
  flex-direction: column;

  mat-card-content {
    margin: 1.5rem;
  }
  
  .card-body {
    padding: 25px;

    .action {
      flex:0 1 auto;
    }
  }
  
}
