<mat-card class="container" *ngFor="let element of researchService.result$">

    <div class="card-body">
      <!-- Card Header -->
        <mat-card-header class="header">
          <mat-card-title class="title">
            <h1>{{element.nom}}</h1>
          </mat-card-title>
          <mat-card-subtitle>
            <h2>Numero d'identification:{{element.numeroDossier}}</h2>
          </mat-card-subtitle>
        </mat-card-header>

      <!-- Card Content -->
        <mat-card-content>
      
          <p><strong>Nom : </strong>{{element.nom}}</p>
          <p><strong>Categorie : </strong>{{element.categorie}}</p>
          <p><Strong>Date de creation : </Strong>{{element.dateCreation}}</p>
          <p><Strong>Localisation : </Strong>{{element.localisation}}</p>
          <p><Strong>Status : </Strong> {{element.statut}}m</p>
          <p><Strong>Classee: </Strong> {{element.classee}}kgs</p>

        </mat-card-content>  
  </div>

  <!-- Card Action -->
  <mat-card-actions align="end" class="action">
        <button mat-icon-button color="primary">
            <mat-icon aria-label="edit" (click)="edit()" >edit</mat-icon> 
        </button>
        <button mat-raised-button color="warn" (click)="archiver()">Archiver</button>
  </mat-card-actions>

</mat-card>