<mat-tab-group
  (selectedIndexChange)="currentIndex=$event"
  backgroundColor="primary"
  [selectedIndex]="currentIndex">

  <!-- Tab research -->
  <mat-tab label="Recherche">
    <research-content></research-content>
    <app-test-component (tabReq)="currentIndex=$event" ></app-test-component>
  </mat-tab>

  <!-- Tab detail -->
  <mat-tab label="Detail">
    <button 
    mat-raised-button
    (click)="killIndex()">Go to Search</button>
  </mat-tab>
  
  <!-- Tab admin -->
      <mat-tab label="Administration">
  </mat-tab>
</mat-tab-group>
