<mat-tab-group
  (selectedIndexChange)="researchService.currentIndex=$event"
  backgroundColor="primary"
  [selectedIndex]="researchService.currentIndex">

  <!-- Tab research -->
  <mat-tab label="Recherche">
    <research-content (tabReq)="researchService.currentIndex=$event"></research-content>
  </mat-tab>

  <!-- Tab detail -->
  <mat-tab label="Detail" [disabled]="researchService.detailTabIsDisabled">
    <card-suspect *ngIf="researchService.resultType==='suspect'"></card-suspect>
    <card-case *ngIf="researchService.resultType==='case'"></card-case>
  </mat-tab>
  
  <!-- Tab admin -->
  <mat-tab label="Administration">
      <administration></administration>
      <!-- <app-test-component></app-test-component> -->
  </mat-tab>
</mat-tab-group>
