<mat-tab-group
  (selectedIndexChange)="researchService.currentIndex=$event"
  backgroundColor="primary"
  [selectedIndex]="researchService.currentIndex">

  <!-- Tab research -->
  <mat-tab label="Recherche">
    <research-content (tabReq)="researchService.currentIndex=$event"></research-content>
  </mat-tab>

  <!-- Tab detail -->
  <mat-tab label="Detail" [disabled]="researchService.detailTabIsDisabled">
    <card-suspect 
      *ngIf="researchService.resultType==='suspect'"
      (editCard)="admin.suspect.initForm()"
      (tabReq)="researchService.currentIndex=$event"></card-suspect>
    <card-case 
      *ngIf="researchService.resultType==='case'"
      (editCard)="admin.case.initForm()"
      (tabReq)="researchService.currentIndex=$event"></card-case>
    <card-user 
      *ngIf="researchService.resultType==='user'"
      (editCard)="admin.case.initForm()"
      (tabReq)="researchService.currentIndex=$event"></card-user>
  </mat-tab>
  
  <!-- Tab admin -->
  <mat-tab label="Administration">
      <administration></administration>
      <!-- <app-test-component></app-test-component> -->
  </mat-tab>
</mat-tab-group>
