<mat-card class="container" *ngFor="let element of researchService.result$">

    <div class="card-body">
      <div class="card-info">
      <!-- Card Header -->
        <mat-card-header class="header">
          <mat-card-title class="title">
            <h1>{{element.nom}}</h1>
          </mat-card-title>
          <mat-card-subtitle>
            <h2>Numero d'identification:{{element.id}}</h2>
          </mat-card-subtitle>
        </mat-card-header>

      <!-- Card Content -->
        <mat-card-content>
      
          <p><strong>Prenom :</strong>{{element.prenom}}</p>
          <p><strong>Genre : </strong>{{element.genre}}</p>
          <p><Strong>Date de Naissance :</Strong>{{element.dateNaissance}}</p>
          <p><Strong>Nationalité :</Strong>{{element.nationalite}}</p>
          <p><Strong>Taille :</Strong> {{element.taille}}m</p>
          <p><Strong>Poids:</Strong> {{element.poids}}kgs</p>
          <p><Strong>Adresse Connues:</Strong> {{element.adresseConnues}}</p>
          <p><Strong>Signes distinctifs :</Strong> {{element.signeDistinctif}}</p>
          <p><Strong>Empreintes:</Strong> {{element.empreinte}}</p>
          <p *ngIf="element.casierJudiciaire; else noCasier"><Strong>Casier Judiciare:</Strong> Oui</p>
          <ng-template #noCasier>
            <p><Strong>Casier Judiciare:</Strong> pas de casier judiciaire</p>
          </ng-template>
          <p><Strong>Nombres de Condamnations :</Strong> {{element.condamnations}}</p>
          <p><Strong>Type de Condamnations :</Strong> {{element.typeCondamnation}}</p>
      
        </mat-card-content>  
    </div>
    <!-- Card image -->
    <div class="card-img">
      <img mat-card-image-sm src="{{element.photo}}" alt="Photo of {{element.nom}}" >
    </div>
  </div>

  <!-- Card Action -->
  <mat-card-actions align="end" class="action">
        <button mat-icon-button>
            <mat-icon aria-label="edit" (click)="edit()" >edit</mat-icon> 
        </button>
        <button mat-button>Archiver</button>
        <button mat-button>Lier à une affaire</button>
  </mat-card-actions>

</mat-card>