/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; //for flexbox sticky footer
}

//Style for the tabs
.mat-tab-labels {
  justify-content : space-around;
}